@import './base.css';


.shadcn-toast {
    margin-bottom: 12px;
}

.shadcn-toast-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/* Custom container uchun CSS */
.custom-container {
    width: 100%;
    max-width: 1200px;
    /* Maksimal kenglik */
    margin-left: auto;
    /* O'ng va chap tomondan markazlash */
    margin-right: auto;
    padding-left: 15px;
    /* Ichki bo'shliq */
    padding-right: 15px;
}

/* Moslashuvchan o'lchamlar */
@media (max-width: 1200px) {
    .custom-container {
        max-width: 96%;
    }
}



@media (max-width: 576px) {
    .custom-container {
        max-width: 100%;
    }
}


body::-webkit-scrollbar {
    width: 10px;
    /* Scrollbar kengligi */
}

body::-webkit-scrollbar-track {
    background: #b8b8b8;
    /* Scrollbar trekining fon rangi */
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
    background: #30364b;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #242838;
    /* Hover qilinganida scrollbar thumbning rangi */
}

.accordion-course>svg {
    @apply hidden;
}

.my-scroll::-webkit-scrollbar {
    width: 8px;
    /* Scrollbar kengligi */
}

.my-scroll::-webkit-scrollbar-track {
    background: #d1d1d17e;
    /* Scrollbar trekining fon rangi */
    border-radius: 0px;
}

.my-scroll::-webkit-scrollbar-thumb {
    background: #bbb6b66e;
    border-radius: 4px;
}

.my-scroll::-webkit-scrollbar-thumb:hover {
    background: #b8babe;
    /* Hover qilinganida scrollbar thumbning rangi */
}

.dark .my-scroll::-webkit-scrollbar-thumb {
    background: #3735466e;
    border-radius: 4px;
}

.my-scroll-0::-webkit-scrollbar {
    width: 0px;
    /* Scrollbar kengligi */
}